{% extends 'cardapio.html' %}

{% block content %}

<div>
    {% for item in object.photos.all %}
    {% if item.photo %}
    <img src="{{ item.photo.url }}" alt="">

    {% else %}
    <p>No photo available for this item.</p>

    {% endif %}
    {% endfor %}
</div>

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                    src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">{{ vProduto.nome }}</h1>
                <div class="fs-5 mb-5">
                    <!-- <span class="text-decoration-line-through">R$ 45.00</span> -->
                    <span>R$ {{ vProduto.valorUnitario }}</span>
                </div>
                <p class="lead">{{ vProduto.descricao }}</p>
                <div class="d-flex">


                    <form action="/pedidos/{{mesa}}/carrinhoRemoverConfirmar/{{vProduto.cod}}/" method="POST"> {% csrf_token %}
                        <input class="form-control text-center me-3" name="quantidade" id="inputQuantity" type="number"
                            value="1" style="max-width: 3rem" min="1" max="{{vProduto.estoque}}" />

                        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Remover
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}