{% extends 'cardapio.html' %}

{% block main_title %}Pedidos{% endblock %}
{% block main_subtitle %}Veja seus pedidos neste instante!{% endblock %}

{% block content %}

<header class="bg-dark py-5" style="background: darkblue !important;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Carrinho Digital</h1>
            <p class="lead fw-normal text-white-50 mb-0">Faça seu pedido agora mesmo!</p>
        </div>
    </div>
</header>


<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">
                {% for produto in dsProdutos %}
                <div class="card rounded-3 mb-4">
                    <div class="card-body p-4">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                <img src="{{produto.img.url}}" class="img-fluid rounded-3" alt="{{produto.nome}}">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                                <p class="lead fw-normal mb-2">{{ produto.nome }}</p>
                                <p><span class="text-muted">Descrição: </span>{{ produto.descricao }}
                                    <br><span class="text-muted">No carrinho: </span>{{ produto.estoque }}
                                </p>
                            </div>

                            <div class="col-md-3 col-lg-3 col-xl-3">
                                <form action="/pedidos/{{mesa}}/carrinhoRemover/{{produto.cod}}/" method="POST"
                                    style="display: flex;">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-dark flex-shrink-0" type="submit">Remover
                                    </button>
                                    <input class="form-control text-center me-3" name="quantidade" id="inputQuantity"
                                        type="number" value="0" style="max-width: 3rem" min="1"
                                        max="{{produto.estoque}}" />

                                </form>
                            </div>

                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                <h5 class="mb-0">Valor: R$ {{ produto.valorUnitario }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <h1>Carrinho Vazio !</h1>
                {% endfor %}
            </div>

            <div class="col-10">
                <form action="/pedidos/{{mesa}}/confirmarPedidoFinal/{{pedido.cod}}/" method="POST">
                    {% csrf_token %}
                    <div class="card mb-4">
                        <div class="card-body p-4 d-flex flex-row">
                            <div class="form-outline flex-fill">
                                <input name="observacao" id="text" type="text" value="" id="form1"
                                    class="form-control form-control-lg" placeholder="Observação" max-length="25rem"
                                    min="0" max="200" />
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div style="display: flex;">
                            <div class="card-body">
                                <button type="submit" class="btn btn-warning btn-block btn-lg">Concluir pedido</button>
                            </div>
                            <div class="card-body">
                                <button type="text" class="btn btn-warning btn-block btn-lg" style="background: none;
                                        border: none; cursor: auto;">Total: {{soma}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% comment %} <h2 class="Tdivisoria">Bebidas</h2>
<hr class="Tdivisoria">

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for produto in dsBebidas %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Imagem do produto -->
                    <img class="card-img-top" src="{{produto.img.url}}" alt="..." />
                    <!-- Detalhes do produto -->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Nome do produto -->
                            <h5 class="fw-bolder">{{ produto.nome }}</h5>
                            <!-- Preço e quantidade do produto -->
                            R$ {{ produto.valorUnitario }} <br>
                            Quantidade: {{ produto.estoque }}
                        </div>
                    </div>
                    <!-- Ações do produto -->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                href="/pedidos/{{mesa}}/carrinhoRemover/{{produto.cod}}/">Remover</a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <h1>Nenhum produto selecionado</h1>
            {% endfor %}
        </div> {% endcomment %}
        <footer class="py-5 bg-dark" style="    background: darkblue !important;">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
            </div>
        </footer>


        {% comment %}
        <hr class="Tdivisoria">

        <section class="py-5">
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <form action="/pedidos/{{mesa}}/fazerPedido/{{pedido.cod}}/" method="POST"> {% csrf_token %}
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="1/cardapio/">Fazer pedido</a>

                        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                            Fazer pedido
                        </button>
                        <!-- {{pedido.cod}} -->
                    </div>
                </form>

            </div>
        </section> {% endcomment %}


        {% endblock %}