{% extends 'cardapio.html' %}

{% block content %}

<header class="bg-dark py-5" style="background: darkblue !important;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Carrinho Digital</h1>
            <p class="lead fw-normal text-white-50 mb-0">Faça seu pedido agora mesmo!</p>
        </div>
    </div>
</header>

<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <!-- <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Carrinho</h3>
                    <div>
                        <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                                    class="fas fa-angle-down mt-1"></i></a></p>
                    </div>
                </div> -->

                {% for produto in dsProdutos %}
                <div class="card rounded-3 mb-4">
                    <div class="card-body p-4">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                <img src="{{produto.img.url}}" class="img-fluid rounded-3" alt="{{produto.nome}}">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                                <p class="lead fw-normal mb-2">{{ produto.nome }}</p>
                                <p><span class="text-muted">Descrição: </span>{{ produto.descricao }}</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                <button class="btn btn-link px-2"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                    <i class="fas fa-minus"></i>
                                </button>

                                <input id="form1" min="0" name="quantity" value="{{ produto.estoque }}" type="number"
                                    class="form-control form-control-sm" />

                                <button class="btn btn-link px-2"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                <h5 class="mb-0">R$ {{ produto.valorUnitario }}</h5>
                            </div>
                            <div class="text-center"><a style="text-decoration: none; color: darkslategray;"
                                    href="/pedidos/{{mesa}}/carrinhoRemover/{{produto.cod}}/">Remover</a></div>
                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
                {% empty %}
                <h1>Carrinho Vazio !</h1>
                {% endfor %}

                <form action="/pedidos/{{mesa}}/confirmarPedidoFinal/" method="POST"> {% csrf_token %}
                    <div class="card mb-4">
                        <div class="card-body p-4 d-flex flex-row">
                            <div class="form-outline flex-fill">
                                <input name="observacao" id="text" type="text" value="" id="form1"
                                    class="form-control form-control-lg" placeholder="Observação" max-length="25rem"
                                    min="0" max="200" />
                            </div>
                            <!-- <button type="button" class="btn btn-outline-warning btn-lg ms-3">Adicionar</button> -->
                        </div>
                    </div>

                    <div class="card">
                        <div style="display: flex;">
                            <div class="card-body">
                                <button type="submit" class="btn btn-warning btn-block btn-lg">Concluir pedido</button>
                            </div>
                            <div class="card-body">
                                <button type="text" class="btn btn-warning btn-block btn-lg" style="background: none;
                                        border: none; cursor: auto;">Total: {{soma}}</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
    </div>
    </div>
</section>

<footer class="py-5 bg-dark" style="    background: darkblue !important;">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
    </div>
</footer>

{% endblock %}