{% extends 'cardapio.html' %}

{% block content %}
<!-- Header-->

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                
                <h2>Pedido N°{{ pedido.cod }}</h2>
                {% for produto in produtos%} <!-- Verifico quando o produto pertencer ao pedido -->
                    {% if produto.cod == pedido.cod %}
                    <span>{{produto.nome}}: {{ produto.estoque }} Unidades <br>Valor: {{ produto.valorUnitario }}</span>
                    <br>
                    {% endif %}
                {%endfor%}
                <hr class="Tdivisoria">
                <h2>Deseja mesmo cancelar este pedido?</h2>
                <div class="d-flex">
                    
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/pedidos/{{pedido.comanda.mesa}}/cancelarFinal/{{pedido.cod}}/">Sim</a>
                    </div>
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/pedidos/{{pedido.comanda.mesa}}/comanda/">Não</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}