{% extends 'cardapio.html' %}

{% block content %}


<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            
            <div class="col-md-6">
                <!-- <div class="small mb-1">SKU: BST-498</div> -->
                <h1 class="display-5 fw-bolder">Pedido N°{{ pedido.cod }}</h1>
                <div class="fs-5 mb-5">
                    <!-- <span class="text-decoration-line-through">R$ 45.00</span> -->
                    <span>Produtos: </span>
                    {% for produto in produtos %}
                        <br>
                        <span>{{produto.nome}}: {{ produto.estoque }} Unidades <br>Valor: {{ produto.valorUnitario }}</span>
                    {% empty %}
                        <h1>Nenhum produto disponível</h1>
                    {% endfor %}
                    <br><span>Valor total: R$ {{ pedido.valor }}</span>
                    <br><span>Observação: {{ pedido.observacao }}</span>
                </div>

                <div class="d-flex">
                    {% if pedido.status == 2 %}
                        <span>Pedido entregue</span>
                    {% else %}
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Modificar
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}