{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets_painel/img/apple-icon.png' %}" />
  <link rel="icon" type="image/png" href="{% static 'assets_painel/img/favicon.png'%}" />
  <title>Painel</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="{% static 'assets_painel/css/nucleo-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'assets_painel/css/nucleo-svg.css' %}" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="{% static 'assets_painel/css/nucleo-svg.css'%}" rel="stylesheet" />
  <link id="pagestyle" href="{% static 'assets_painel/css/argon-dashboard.css' %}" rel="stylesheet" />
  <link id="pagestyle" href="{% static 'assets_painel/css/style.css' %}" rel="stylesheet" />
  <link id="pagestyle" href="{% static 'assets_painel/css/styleFormsFuncionario.css' %}" rel="stylesheet" />
</head>

<body class="g-sidenav-show bg-gray-100">
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
  <aside
    class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4"
    id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
        aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/argon-dashboard/pages/dashboard.html "
        target="_blank">
        <span class="ms-1 font-weight-bold">NOME</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0" />
    <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main" style="overflow: unset;">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/garcom/list_pedidos/">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vendas/vendas">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Vendas</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'funcionarios' %}">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Funcionários</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/produtos/produtos"> <!--% url 'produtos' %-->
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-app text-info text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Produtos</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./pages/rtl.html">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-world-2 text-danger text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">RTL</span>
          </a>
        </li>
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">
            Account pages
          </h6>
        </li>

        <li class="nav-item">
          {% if user.is_authtenticated %}

          {% else %}
          <a class="nav-link" href="{% url 'login' %}">
            {% endif %}
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-single-copy-04 text-warning text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Login</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-collection text-info text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Sair</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <main class="main-content position-relative border-radius-lg">
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
      data-scroll="false">
      <div class="container-fluid py-1 px-3">

        <ul class="navbar-nav justify-content-end">
          <li class="nav-item d-flex align-items-center">
            <a style="cursor:default" class="nav-link text-white font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>Usuário:
              <span class="d-sm-inline d-none"> {{user.username}}</span>
            </a>
          </li>
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line bg-white"></i>
                <i class="sidenav-toggler-line bg-white"></i>
                <i class="sidenav-toggler-line bg-white"></i>
              </div>
            </a>
          </li>
        </ul>
      </div>
      </div>
    </nav>

    {% block content %}

    {% endblock %}

    <footer class="footer pt-3">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6 mb-lg-0 mb-4">
            <div class="copyright text-center text-sm text-muted text-lg-start">
              Copyright © Your Website 2023
            </div>
          </div>
        </div>
      </div>
    </footer>
    </div>
  </main>

  <script src="{% static 'assets_painel/js/core/popper.min.js' %}"></script>
  <script src="{% static 'assets_painel/js/core/bootstrap.min.js'%}"></script>
  <script src="{% static 'assets_painel/js/plugins/perfect-scrollbar.min.js'%}"></script>
  <script src="{% static 'assets_painel/js/plugins/smooth-scrollbar.min.js'%}"></script>
  <script src="{% static 'assets_painel/js/plugins/chartjs.min.js'%}"></script>



  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="{% static  'assets_painel/js/argon-dashboard.min.js'%}"></script>



</body>


</html>