{% extends 'cardapio.html' %}

{% block main_title %}Fazer pedido{% endblock %}
{% block main_subtitle %}Faça seu pedido!{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% comment %} <form action="." method="POST" class="formProduto"> {% csrf_token %}
                <p class="required">
                    <label for="idMesa" class="required">Mesa:</label>
                    <input type="text" name="mesa" maxlength="100" required id="idMesa"> 
                </P>
            </form> {% endcomment %}
            {% for comanda in dsComanda %}
                {% for pedido in dsPedido %}
                {% comment %} <h4>Qual é o número da mesa? </h4> {% endcomment %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Imagem do produto -->
                        <img class="card-img-top" src="" alt="..." />
                        <!-- Detalhes do produto -->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Nome do produto -->
                                <h5 class="fw-bolder">Mesa: {{ comanda.mesa }}</h5>
                                <!-- Preço e quantidade do produto -->
                                {% comment %} R$ {{ produto.valorUnitario }} <br>
                                Quantidade: {{ produto.estoque }} {% endcomment %}
                            </div>
                        </div>
                        <!-- Ações do produto -->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/pedidos/{{comanda.mesa}}/carrinho/">Ver Pedidos</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <h1>Nenhum produto selecionado</h1>
                {% endfor %}
            {% endfor %}

        </div>
    </div>
</section>
{% endblock content%}