{% extends 'painel.html' %}


{% block content %}

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" style="display: flex;">
            {% for comanda in dsComanda %}
                {% comment %} {% for pedido in dsPedido %} {% endcomment %}
                {% for pedido in comanda.pedido_set.all %}
                    {% if pedido.status == 1 %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        
                                            <h5 class="fw-bolder">Pedido: {{ pedido.cod }}</h5>
                                        {% comment %} {% endfor %} {% endcomment %}
                                        <h5 class="fw-bolder">Mesa: {{ comanda.mesa }}</h5>
                                        <h5 class="fw-bolder">Cod. Comanda: {{ comanda.cod }}</h5>

                                    </div>
                                </div>
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center d-flex justify-content-center">
                                      <a class="btn btn-primary" style="background-color: #faba66;" href="/garcom/{{comanda.cod}}/{{pedido.cod}}/describe_pedido/">Detalhar Pedido</a>
                                    </div>
                                  </div>
                                  
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}           
            {% endfor %}

        </div>
    </div>
</section>


{% endblock content%}