{% extends 'cardapio.html' %}

{% block main_title %}Pedido - Mesa: {{mesa}}{% endblock %}
{% block main_subtitle %}Veja os produtos deste pedido{% endblock %}

{% block content %}


<h2 class="Tdivisoria">Pratos</h2>
<hr class="Tdivisoria">

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for produto in dsPratos %}
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="{{produto.img.url}}" alt="..." />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ produto.nome }}</h5>
                            R$ {{ produto.valorUnitario }} <br>
                            Quantidade: {{ produto.estoque }}
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                href="/pedidos/{{mesa}}/carrinhoRemover/{{produto.cod}}/">Remover</a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <h1>Nenhum produto selecionado</h1>
            {% endfor %}
        </div>
    </div>
</section>

<h2 class="Tdivisoria">Bebidas</h2>
<hr class="Tdivisoria">

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for produto in dsBebidas %}
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="{{produto.img.url}}" alt="..." />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ produto.nome }}</h5>
                            R$ {{ produto.valorUnitario }} <br>
                            Quantidade: {{ produto.estoque }}
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                href="/pedidos/{{mesa}}/carrinhoRemover/{{produto.cod}}/">Remover</a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <h1>Nenhum produto selecionado</h1>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}