{% extends "painel.html" %}


{% load static %}

{% block content %}


<body>
    <div class="container">
        <div class="container d-flex justify-content-center align-items-center" style="height: 20vh;">
            <div class="col-md-6 mt-5">
                <div class="card">
                    <div class="card-header">
                        Sem Pedidos!
                    </div>Pedidos não foram realizados.</p>
                        <p>Após pedidos serem realizados, todos aparecerão aqui!</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}