{% extends 'cardapio.html' %}

{% block content %}


<header class="bg-dark py-5" style="background: darkblue !important;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Comanda Digital</h1>
            <p class="lead fw-normal text-white-50 mb-0">Comanda da mesa: {{comanda.mesa}}</p>
        </div>
    </div>
</header>


<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <h1 class="display-5 fw-bolder">Comanda N°{{ comanda.cod }}</h1>
        <hr>
        <div class="row gx-4 gx-lg-5 align-items-center">
            <!--  -->
            <br>
            {% for pedido in pedidos %} <!-- Mostro todos os pedidos -->
            <div class="fs-5 mb-5">
                <br>
                <h2>Pedido N°{{ pedido.cod }}</h2>
                <div class="comanda" style="
                display: flex;
                justify-content: space-between;">


                    <div class="comanda1">
                        {% for produto in produtos%} <!-- Verifico quando o produto pertencer ao pedido -->
                        {% if produto.cod == pedido.cod %}
                        <span>{{produto.nome}}: {{ produto.estoque }} Unidade(s) - Valor:
                            {{ produto.valorUnitario}}</span>
                        <br>
                        {% endif %}
                        {% empty %}
                        <h1>Nenhum produto no pedido</h1>
                        <br>
                        {%endfor%}
                        <br>
                        <h4>Valor do pedido: R$ {{ pedido.valor }}</h4><br>
                    </div>
                    <div class="comanda2">
                        {% if pedido.status == 0 %}
                        <span>Status: Carrinho ainda sendo montado</span>
                        {% elif pedido.status == 1 %}
                        <span>Status: Pedido em preparação</span>
                        {% elif pedido.status == 2 %}
                        <span>Status: Pedido concluido</span>
                        {% endif %}<br>
                        <span>Observação: {{ pedido.observacao }}</span>
                    </div>
                </div>

                <hr>

                {% empty %}
                <br>
                <h1>Nenhum pedido realizado</h1><br>
            </div>
            {% endfor %}

            <h1>Valor total: {{comanda.valorTotal}}<br></h1>

        </div>
    </div>
    </div>
    </div>
</section>

{% endblock %}