{% extends 'painel.html' %} {%block content%}

<div class="btn-group-toggle" data-toggle="buttons">
    <a href="" class="btn btn-primary" style="background-color: rgb(10, 10, 174);">Histórico Completo</a>
</div>


<select>
    <option>Em Aberto</option>

    <option>Finalizado</option>
    <option>Filtrar por mesa</option>
    Todos de um dia so - filtragem automatica
</select>

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Histórico de Vendas (Diário)</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Cod
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Valor Total
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Mesa
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Status
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Data
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                                    colspan="1">
                                    Ação
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comanda in dsComandas %}
                            <tr>
                                <td>{{comanda.cod}}</td>
                                <td>{{comanda.valorTotal}}</td>
                                <td>{{comanda.mesa}}</td>
                                {% if comanda.status == 0 %}
                                <td>Em Aberto</td>
                                {% elif comanda.status == 1 %}
                                <td>Finalizado</td>
                                {% endif %}
                                <td>{{comanda.data}}</td>
                                <!-- <td>{{comanda.dataFechamento}}</td> -->
                                <td><a href="/produtos/produtos/{{comanda.cod}}">Detalhar</a></td>
                                <!--<td><a href="/produtos/produtos/remover/{{produto.cod}}">Excluir</a></td> -->
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">Nenhuma comanda cadastrada.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}