{% extends 'painel.html' %} {%block content%}

<div style="display: flex;justify-content: space-around;">
    <div class="btn-group-toggle" data-toggle="buttons">
        <a href="/vendas/vendas/" class="btn btn-primary"
            style="background-color: #faba66; width: 210px;">Histórico
            Diário</a>
    </div>
    <form method="POST" action="/vendas/vendas/all" style="display: inline-flex;">
        {% csrf_token %}
        <select class="btn btn-primary" style="background-color: #faba66; width: 210px; margin-right: 5px;"
            name="filtro" id="filtro" onchange="mostrarInput()">
            <option value="" disabled selected style="display:none;">Status</option>
            <option value="1" id="emAberto">Em Aberto</option>
            <option value="2" id="aguardandoPagamento">Aguardando pagamento</option>
            <option value="3" id="finalizado">Finalizado</option>
            <option value="4" id="filtroMesa">Filtrar por mesa</option>
            <option value="5" id="filtroMesa">Todos</option>
        </select>
        <br>
        <input class="btn btn-primary" type="number" name="mesa" id="mesa"
            style="display: none; width: 75px; background-color: white; color:black;">
        <br>
        <button class="btn btn-primary" style="background-color: #faba66; width: 80px;margin-left: 5px;"
            type="submit">
            <span>Filtrar</span>
        </button>
    </form>
</div>

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Histórico de Vendas - <strong>Total: R${{lucroDiario}}</strong></h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Cod
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Valor Total
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Mesa
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Status
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Data-Hora
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                                    colspan="1">
                                    Ação
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comanda in dsComandas %}
                            <tr>
                                <td>{{comanda.cod}}</td>
                                <td>{{comanda.valorTotal}}</td>
                                <td>{{comanda.mesa}}</td>
                                {% if comanda.status == 0 %}
                                <td>Em Aberto</td>
                                {% elif comanda.status == 1 %}
                                <td>Aguardando pagamento</td>
                                {% elif comanda.status == 2 %}
                                <td>Finalizado</td>
                                {% endif %}
                                <td>{{comanda.data_e_hora}}</td>
                                <td><a href="/comandas/comandas/{{comanda.cod}}"  class="btn btn" style="background-color: #faba66;">Detalhar</a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">Nenhuma comanda cadastrada</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function mostrarInput() {
        var select = document.getElementById("filtro");
        var mesa = document.getElementById("mesa");

        mesa.value = null;

        if (select.value === "4") {
            mesa.style.display = "block";
            mesa.required = true;
        } else {
            mesa.style.display = "none";
            mesa.required = false;
        }
    }
</script>

{% endblock %}