{% extends 'cardapio.html' %}

{% block content %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                    src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">{{ vProduto.nome }}</h1>
                <div class="fs-5 mb-5">
                    <!-- <span class="text-decoration-line-through">R$ 45.00</span> -->
                    <span>R$ {{ vProduto.valorUnitario }}</span>
                </div>
                <p class="lead">{{ vProduto.descricao }}</p>
                <div class="d-flex">
                    
                    
                    <form action="/pedidos/adicionar/{{mesa}}/{{vProduto.cod}}/" method="POST"> {% csrf_token %}
                        <input class="form-control text-center me-3" name="quantidade" id="inputQuantity" type="number" value="1"
                        style="max-width: 3rem" max="{{vProduto.estoque}}"/>

                        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </form>

                    
                    


                </div>
            </div>
        </div>
    </div>
</section>

{% if dsProdutos %}
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Produtos relacionados</h2> <!-- FAZER ISSO COM 4-->
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            {% for produto in dsProdutos %}
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ produto.nome }}</h5>
                            R$ {{ produto.valorUnitario }}
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                href="/{{ mesa }}/cardapio/{{ produto.cod }}">View options</a></div>
                    </div>
                </div>
            </div>
            {% empty %}
            <h1>Não há nenhum produto relacionado</h1>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% endblock %}

<!-- PRODUTOS RELACIONADOS E FILTROS N TA MANTENDO O NMR DA MESA -->