{% extends 'cardapio.html' %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Cardápio Digital</h1>
            <p class="lead fw-normal text-white-50 mb-0">Faça seu pedido agora mesmo!</p>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for produto in dsProdutos %}
            <div class="col mb-5">
                <div class="card h-100">
                    <img src="{{ produto.img.url}}" alt="{{ produto.nome }}" class="card-img-top"
                        style="max-width: 450px; max-height: 300px;">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ produto.nome }}</h5>
                            R$ {{ produto.valorUnitario }}
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                href="/cardapio/cardapio/{{ produto.cod }}">Ver
                                opções</a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <h1>Nenhum produto disponível</h1>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}