{% extends 'painel.html' %} {%block content%}

<div class="btn-group-toggle" data-toggle="buttons">
  <a href="/produtos/produtos/add" class="btn btn-primary" style="background-color: rgb(10, 10, 174);">Add Produto</a>

  <a href="/produtos/produtos/addFoto" class="btn btn-primary" style="background-color: rgb(10, 10, 174);">Add Produto
    com
    Foto Teste</a>

</div>

<!-- /produtos/produtos/add -->

<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h6>Produtos</h6>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                  ID
                </th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                  Nome
                </th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                  Valor Unitário
                </th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                  Estoque
                </th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" colspan="2">
                  Ações
                </th>
              </tr>
            </thead>
            <tbody>
              {% for produto in dsProdutos %}
              <tr>
                <td>{{produto.cod}}</td>
                <td>{{produto.nome}}</td>
                <td>{{produto.valorUnitario}}</td>
                <td>{{produto.estoque}}</td>
                <td><a href="/produtos/produtos/editar/{{produto.cod}}">Editar</a></td>
                <td><a href="/produtos/produtos/remover/{{produto.cod}}">Excluir</a></td>

              </tr>
              {% empty %}
              <tr>
                <td colspan="5">Nenhum produto cadastrado.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}