{% extends 'painel.html' %}

{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Cadastrar Funcionário</h1>
                            </div>
                            <form action="register" method="post" class="formFuncionario" enctype="multipart/form-data">
                                {% csrf_token%}
                                {{form.as_p}}
                                {{formFuncionario.as_p}}
                                <input type="submit" value="Cadastrar" class="btnFuncionario">
                            </form>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src=" {% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src=" {% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src=" {% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src=" {% static 'js/sb-admin-2.min.js' %}"></script>

{% endblock %}